{% extends 'template.html.twig' %}

{% block title %}Teachers{% endblock %}

{% block path %}Add Teachers{% endblock %}

{% block content %}

<div class="bg-white rounded-xl w-full p-6">
    <h1 class="text-lg font-semibold">Teachers Information</h1>
    
    <div class="grid grid-cols-3 gap-6 py-4">
        <div>
            <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">First Name <span class="text-red-500 text-lg">*</span></label>
            <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Enter First Name" required>
        </div>
        <div>
            <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Last Name <span class="text-red-500 text-lg">*</span></label>
            <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Enter Last Name" required>
        </div>
        <div>
            <label for="countries" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Gender <span class="text-red-500 text-lg">*</span></label>
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Select Gender</option>
                <option value="US">Female</option>
                <option value="CA">Male</option>
                <option value="FR">Others</option>
            </select>
        </div>
        <div>
            <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Date Of Birth<span class="text-red-500 text-lg">*</span></label>
            <input type="date" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Enter First Name" required>
        </div>
        <div>
            <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Roll<span class="text-red-500 text-lg">*</span></label>
            <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Enter Roll Number" required>
        </div>
        <div>
            <label for="countries" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Blood Group<span class="text-red-500 text-lg">*</span></label>
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Please Select Group</option>
                <option value="US">A +</option>
                <option value="CA">B +</option>
                <option value="FR">C +</option>
            </select>
        </div>
    </div>

    

    <button type="submit" class="text-white mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>

</div>

{% endblock %}