{% extends 'template.html.twig' %}

{% block title %}Test{% endblock %}

{% block path %}Test{% endblock %}

{% block content %}

<div class="px-4 sm:px-6 lg:px-8">
    
    {{ 'hello'|trans }}

    <button type="button" class="btn btn-primary">English</button>
    <button type="button" class="btn btn-primary">French</button>

</div>


<script>
    $(document).ready(function() {
        $('.btn-primary').click(function() {
            var language = $(this).data('language');
            $.ajax({
                url: '{{ path('my_page') }}',
                type: 'POST',
                data: {
                    language: language
                },
                success: function(data) {
                    location.reload();
                }
            });
        });
    });
</script>


{% endblock %}