{% extends 'template.html.twig' %}

{% block title %}Test{% endblock %}

{% block path %}Test{% endblock %}

{% block content %}

<div class="px-4 sm:px-6 lg:px-8">
    
    {{ 'hello'|trans }}
    <br>

    <a href="{{ path('app_change_locale',{'_locale':'fr'}) }}">France</a>

</div>





{% endblock %}