{% extends 'template.html.twig' %}

{% block title %}Test{% endblock %}

{% block path %}Test{% endblock %}

{% block content %}

<div class="px-4 sm:px-6 lg:px-8">
    
    {{ 'hello'|trans }}

    <ul class="flex items-center gap-x-2">
        <li><a href="{{ path(app.request.attributes.get('_route') , app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">English</a></li>
        <li><a href="{{ path(app.request.attributes.get('_route') , app.request.attributes.get('_route_params')|merge({'_locale': 'es'})) }}">Français</a></li>  
    </ul>

</div>


{% endblock %}