{% extends 'template.html.twig' %}

{% block title %}Test{% endblock %}

{% block path %}Test{% endblock %}

{% block content %}

<div class="px-4 sm:px-6 lg:px-8">
 
  <h1>{{ 'Symfony is great'|trans }}</h1>

</div>


{% endblock %}